@page
@model TodoListASP.Pages.EditTaskModel

<div class="container-fluid mb-3 border-bottom border-primary-subtle fs-4">
	<p>Edit task</p>
</div>

<form method="POST">
<div class="mb-3">
	<label class="form-label" asp-for="Title">Name:</label>
	<input class="form-control"asp-for="Title" />
	<span class="text-danger" asp-validation-for="Title"></span>
</div>

<div class="mb-3">
	<label class="form-label" asp-for="Description">Description:</label>
	<textarea class="form-control" rows="3" asp-for="Description"></textarea>
	<span class="text-danger" asp-validation-for="Description"></span>
</div>

<div class="mb-3 form-check">
	<input class="form-check-input" asp-for="IsDone" />
	<label class="form-check-label" asp-for="IsDone">Completed</label>
	<span class="text-danger" asp-validation-for="IsDone"></span>
</div>

<div class="mb-3">
	<label class="form-label" asp-for="CreatedAt">Created at:</label>
	<input class="form-control" asp-for="CreatedAt"/>
	<span class="text-danger" asp-validation-for="CreatedAt"></span>
</div>

<div class=" container-fluid p-0 mb-3 d-flex flex-row-reverse">
	<button type="submit" class="btn btn-primary">
		<i class="bi bi-floppy me-1"></i>
		submit
	</button>
</div>
</form>
