@page
@model ASPrazorpages.Pages.AboutModel

<div class="text-center display-3">
<p style="font-family: Old English Text MT, Blackletter, Textura , serif; text-align:center; color:darkred">We have no menu, we're closed.
	Eat <strong>leftovers</strong><br>FUCKERS</p>
	<img src="https://images.steamusercontent.com/ugc/2000198497754716071/EF16A406DBFD3C64BC7DC35929C0053647BF49A9/" class="img-fluid" />
</div>


