@page
@model ASPrazorpages.Pages.AboutModel

<p style="font-family: Old English Text MT, Blackletter, Textura , serif; text-align:center; color:darkred; font-size:1.8rem">We have no menu, we're closed.
	Eat <strong>leftovers</strong><br>FUCKERS</p>
<div class="text-center">
	<img src="https://avatars.mds.yandex.net/i?id=1511b95a1d29451c18bb0043e7a9ff27_l-4227899-images-thumbs&n=13" class="img-fluid" />
</div>


