@page
@model ASPrazorpages.Pages.AboutModel

<p style="font-family: Old English Text MT, Blackletter, Textura , serif; text-align:center; color:darkred; font-size:1.8rem">We have no menu, we're closed.
	Eat <strong>leftovers</strong><br>FUCKERS</p>

