@page
@model IndexModel
@{
    ViewData["Title"] = "Restaurant";
}


<div class="text-center">
    <h1 class="display-4 text-black-50" style="font-family: Old English Text MT">Welcome, lad!</h1>
</div>
