@page
@model IndexModel
@{
    ViewData["Title"] = "Restaurant";
}


<div class="text-center">
    <h1 class="display-4 text-black-50" style="font-family: Old English Text MT">Welcome, lad!</h1>
    <img src="https://i.pinimg.com/736x/ee/6d/93/ee6d937a4224124b74e8befe1f0980c5.jpg" alt="ponies" />
</div>
