@page
@model ASPrazorpages.Pages.RestaurantAddressesModel


<h1 class="text-center display-3" style="color:palegoldenrod; font-family: 'Comic Sans MS';">  ✿.We’re opened!.✿  </h1>
<hr/>
<ul style="font-size:2.5rem; font-family: 'Comic Sans MS'; color: pink;">
	<li>Blackthorn Vein Lane</li>
	<li>The Waning Moon Suite (Black Lotus Tower, 13th Floor)</li>
	<li>The Bloodthorn Asylum</li>
	<li>The Blackened Rose Orphanage</li>
</ul>

